@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,400italic,600italic,300italic,700italic|Roboto:400,100,300,500,700,100italic,300italic,400italic,500italic,700italic);


* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: inherit;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', Verdana, sans-serif;
	color: #334;
	background-color: #EEE;

	position: relative;

	overflow: auto;

}
h1,h2,h3,h4 {
	font-family: 'Roboto', Verdana, sans-serif;
}

section:first-of-type h2 {
	margin-top: 0;
}

hr {
	height: 0px;
	margin: 1.5em 0;
	border: 0;
	border-top: 1px solid #334;
	opacity: .1;
}

#mickey {
	border-radius: 50%;
	max-width: 8em;
	float:right;
	margin: 1em;
}

a {
	color: #759ACC;
	font-style: italic;
	text-decoration: none;
	position: relative;
	display: inline-block;
}

p > a::after,
li > a::after {
	content: "";
	display: block;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	border-bottom:1px solid;
	opacity: .25;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	margin-top: 0;
}

h1 {
	color: rgba(71, 126, 199, 1.0);
	font-size: 300%;
	border-bottom:1px solid rgba(71, 126, 199, .25);
	font-weight: 300;
}

h1 > span {
	font-size: 75%;
	font-weight: 100;
}

h1 >span::before {
	font-size:3rem;
	content:" \203a  ";
}

h2 {
	color: rgba(250,128,114,1);
	font-size: 200%;
	margin: 1em 0 .25em 0;
}

h3 {
	color: rgba(250,128,114,1);
	border-bottom:1px solid rgba(250,128,114,.5);
}

h4 {
	color: #667;
}

h4::before {
	content: "";
	border-left:.25em solid rgba(250,128,114,1);;
	margin-right:.25em;
}

#content {
	margin-left: 6em;
}

#content > * {
}

#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	padding: 3em 1em 1em;
	width: 6em;
	height: 100%;

/*	border-right:.1em solid #CCC;
	box-shadow:0px 0px 3px rgba(0,0,0,.15);
*/
	background-color: #fafafa;
}

#sidebar a {

	color: rgba(250,128,114,1);
}

#twitter {
	margin-left:20px;
}

#twitter::before {
	vertical-align: top;
	content: "";
	width: 20px;
	height: 20px;
	margin-left: -20px;
	display: inline-block;
	background: url('/twitter20px.png');
	line-height: 1em;
}

main {
	padding: 1em;
	max-width: 60em;
}

header,
footer {
	overflow: auto;
	padding: 0 1em;
}



.work {
	width: 25%;
	min-width: 10em;
	float: right;
	border:1px solid #CCC;
}

h2, h3, h4 {
	clear: both;
}

.workItems {
	clear: both;
}

.workItems > li {
	float: left;
	margin: 0px 2em 2em 0;
	/*box-shadow:2px 2px 6px rgba(0,0,0,.5);*/
}
.workItems > li > a {
	display: block;
	border:1px solid #CCC;
	height: 350px;
	width: 250px;
	position: relative;
	overflow: hidden;
}

.workItems > li > a.doubleWide {
	width: calc(500px + 2em);
}

.workItems .label,
.workItems .sublabel
 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2em;
	background:rgba(0,0,0,.25);
	color: #FFF;
	line-height: 1.5em;
	padding: .25em;
	text-shadow:1px 1px 0px rgba(0,0,0,.75);
	font-style: normal;
	opacity: .85;
}

.workItems .sublabel {
	background: none !important;
	left: auto;
	opacity: .5;
}

.workItems li:hover .sublabel,
.workItems li:hover .label {
	opacity: 1;
	background:rgba(0,0,0,.5);
}


li#overwatch > a {
}

li#overwatch > a::after {
}

.workItems > li > a::before {
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: -1em;
	position: absolute;
	background-size: cover;
	background-position: 0 0;
	transition: all .15s ease;
}

.workItems > li:hover > a::before {
	transform: translateY(-.5em);
}

.workItems .additional {
	display: none;
}


li#overwatch > a::before {
	background-image:url('/portfolio/ow1.jpg');
}
li#pm > a::before {
	background-image:url('/portfolio/psmed2-full.png');
}

li#be > a::before {
	background-image:url('/portfolio/befb1-full.png');
}

li#hs > a::before {
	background-image:url('/portfolio/befb5-full.png');
}

/* Fancybox */
.fancybox-title.fancybox-title-outside-wrap {
    font-size: 2em;
    /* background: rgba(0,0,0,.25); */
    line-height: 1em;
    padding: .25em;
    text-shadow: 1px 1px 1px black;
}
