<section id="contact">
	<h2>Contact</h2>
	<div class="contactoptions">
		<ul>
			<li><span class="emoji">📧</span> <a href="http://www.google.com/recaptcha/mailhide/d?k=01nEupokfPOy_LnRB6DvhLPg==&amp;c=kTait0ylbFz5bzROUQ6dr_iYYpXJ3A3H07xH8WP1hoo=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501nEupokfPOy_LnRB6DvhLPg\75\75\46c\75kTait0ylbFz5bzROUQ6dr_iYYpXJ3A3H07xH8WP1hoo\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">mickey...@gmail.com</a> (captcha required)</li>
			<li a class="contactlink" id="twitter"> <a href="https://twitter.com/intent/user?screen_name=GameWithTurik">@GameWithTurik</a></li>
			<li class="contactlink" id="reddituser"> <a href="https://reddit.com/u/turikk">/u/turikk</a></li>
		</ul>
	</div>
</section>