<section id="contact">
	<h2>Contact{% if page.title=='Contact Me' %} <span class="unemphasis">Me</span>{% endif %}</h2>
	<div class="contactoptions">
		<ul>
			<li class="contactlink linkedin"> <a href="https://www.linkedin.com/in/mickeymolad/">mickeymolad</a></li>
			<li class="contactlink twitter"> <a href="https://twitter.com/intent/user?screen_name=GameWithTurik">@GameWithTurik</a></li>
			<li class="contactlink reddituser"> <a href="https://reddit.com/u/turikk">/u/turikk</a></li>
		</ul>
	</div>
</section>